
@{
    ViewData["Title"] = "Upload";
}

<h1>Upload</h1>

<p>text/plain</p>
<form method="post" enctype="text/plain" asp-controller="File" asp-action="Upload">
    <input type="file" name="file" multiple/>
    <input type="submit" value="上传" />
</form>

<p>multipart/form-data</p>
<form method="post" enctype="multipart/form-data" asp-controller="File" asp-action="Upload">
    <input type="file" name="file" multiple/>
    <input type="submit" value="上传" />
</form>
